.landing_page{
	width:100%;
   height:80vh; 
	background:url("../images/home.jpg") fixed;
	background-size:cover;
	background-position: center;    
	text-align: center;
	border-bottom:4px solid  #ff755a;

}
.landing_page .container{
   position: relative;
   top:0; 
   width:100%;  
   height:100%;
  
}
.landing_page h1{
	padding-top:10%;
		width:100%; 
	text-align: center;
  font-size:2.5em; 
}

.landing_page p{
	 color:#989fa9; 
  margin-bottom:1em; 
	width:100%; 
	font-size:1.7em; 
}
.landing_page .container div{
	 width:100%;
 
	margin: auto;

}

 .global {
	margin-bottom:1em; 
	display: block;
	 background-color:#ff755a;
  border:none;
  outline: none;
  color: #fff;
  padding:0.7em 1.4em;
  border-radius:5px; 
   width:300px; 
  margin:auto; 
   margin-bottom:0.5em; 

}
/* laptop festival*/
.festival_laptop{
	 width:100%;
	 padding: 3em;
	 color: #a5a7a9; 
	 background-color: #fff;

}
.festival_laptop h2{
	 text-align: center;
}
.laptop{
	display: grid;
	 grid-template-columns:repeat(1,1fr 1fr); 
	 width: 100%;
	 margin-top:2em; 
}
.register{
	margin-top:2em;
    text-align: center;
	 
}

.register h3{
	margin-bottom:1em;
	color: #111;
	font-size:2em;  
}
.register p{
	 margin-bottom:1em; 
}
.register a{
	 max-width:350px;
	 margin:auto;
	 margin-bottom: 1em;  
}

.festival_laptop img{
	 max-width:100%; 
}
/* start festivals_logo */
.festivals_logo{
	 width:100%;
	 text-align: center;
	 padding:2em;
	 color:#fff;   
}
.festivals_logo div{
	 margin-top:2em; 
	 margin-bottom:2em; 

}
.festivals_logo  .gallary{
	         background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 .5em;

}

.platform{
	 width:100%; 	 
	background:url("../images/indiehome_new_home_background_opt.jpg") fixed;
	background-size:cover;
	background-position: center; 
}
.platform p{
	 font-size:1.5em;
	 color:#fff;  
}
.platform img{
	 width:80%; 
}
footer{
	 margin-top:0; 
}
@media screen and (max-width: 800px) {
.festival_laptop{
  padding:1em; 
 }
	.landing_page .container{
    padding:0.2em; 
 }
   .laptop{
       display: block;
    }
}

@media screen and (max-width: 1100px) {
	.landing_page .container{
   position: absolute;
   top:30%;
    padding:0.5em; 
 }
}

