@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
.login{
	 width:100%;
	 padding:2em;
	 height:100%;  
	 background:url("../images/testimonial-bg.jpg");
	 background-position: center;
	 background-size: cover;  
	 text-align: center;
}
.login h3{
	font-size:2em;
	color:#fff;  
}
.login .form{
	 margin-top:1em;
	 margin-bottom:1em;  
}
.login .form input{
	width:350px;
	padding:1em 0.4em;  
	border:2px solid #666; 
}
.login .form input::placeholder{
	 font-size:1.3em; 
}
.login .form span{
     background-color:#fff; 
	 padding:0.7em 0.5em;
	 text-align: center;  
	 margin-right: 0.2em; 
}
.login .global{

	 background-color:#ff755a;
  border:none;
  outline: none;
  color: #fff;
  padding:0.7em 1.4em;
  border-radius:5px; 
   
   margin-bottom:1.5em; 
}
.forget {
	color:#fff;
}






@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

footer{
   margin-top:0em;  
}


@media screen and (max-width: 450px){
  .login .form input{
     width:250px; 
  }
}