.card{
	 width:100%;
	 padding:4em;  
	 display: grid;
	 grid-template-columns:repeat(2,1fr);
	 grid-gap:10px;  
}
.card .card_show{
	position: relative;
  background-color:#fff; 
   border-radius:10px; 
	 box-shadow: 0 5px 15px rgba(0,0,0,.5);    
}
.card .card_show div{
	 padding:1em; 
}

.card .card_show h3{
  color: #ff755a;
  margin-bottom:1em; 
}

p{
	 color: #a5a7a9;
	 margin-bottom:1em;
	 font-size:1.2em;  
}
.card .card_show ul {
	 margin-bottom:1em; 
}

.card .card_show ul li{
      border:1px solid #f1f1f1; 
      padding:1em;
       
}
.card .card_show ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card .card_show ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.marker{
	 color: #ff755a;
}
.card a{
	 position: absolute;
    background-color: #ff755a;
	 color:#fff; 
	 width:100%;
	 text-align: center;
	 top:97%;
	 padding:1em 0;  
	 border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
}
.submit{
	 width:100%;
	 text-align: center;
	 margin-top:2em;
	 margin-bottom:1em;   
}
.submit a{
	 color:#111; 
}

@media screen and (max-width: 890px){
.card{
  display: block;
 }
 .card .card_show{
 	 margin-bottom:3em; 
 	 width:100%; 
 }
}

@media screen and (max-width: 600px){
	.card{
     padding:2em; 
     }
}
