.profile{
	 width:100%;
     background:#fff; 

}
.profile .placeholder{
	 position: relative;
	 background:url("../images/859fa9f580f5130eea47680160ef704e.jpg");
        background-size:cover;
    background-position: center;    
	  height:200px;   
}
.profile .placeholder .social{
	 position: absolute;
	 background:#fff;
	 right:2%;
	 bottom:1%;  
	 padding:0.7em;  
}

.profile .fa-facebook-f {
    padding-left: 15px;
    color: white;
    font-size: 25px;
    background: #4267b2;
    width: 45px;
    height: 45px;
    padding-top: 13px;
    border-radius: 50%;
    margin-left: 10px;
}
.profile .fa-linkedin {
    padding-left: 13px;
    color: white;
    font-size: 25px;
    background: #4267b2;
    width: 45px;
    height: 45px;
    padding-top: 12px;
    border-radius: 50%;
    margin-left: 10px;
}
.profile .fa-twitter {
    color: white;
    font-size: 25px;
    background: #1da1f2;
    width: 45px;
    height: 45px;
    padding-top: 13px;
    border-radius: 50%;
    margin-left: 10px;
    padding-left: 12px;
}

.profile .info .info_selector{
	 width: 100%;
	 padding:2.5em; 
     position: relative;
     margin-top: 2em;

}
.profile  .placeholder .user{
     position: absolute;
     left:3%; 
     top:45%;  
}
.profile  .placeholder .user img{
	max-width: 150px;
    z-index: 9999;
    position: relative; 
}
.profile .info .info_selector  .selector{
	width:100%; 
	 list-style: none;
	 text-align: center;
	 margin-top:1em; 
}
.profile .info .info_selector div ul li{
		 display: inline-block;
         padding:1em; 
}

.profile .info .info_selector ul li a{
	 color:#111; 
     transition: 0.5s;
     cursor: pointer;
}
.profile .info .info_selector ul li a:hover{
     color:#ff755a; 
}

.profile .show_info{
	 width:60%;
	 margin:auto;
	 padding:1em;
	 line-height:2em;   

     background:#fff; 
	 margin-top:2em;
	 border-radius:10px; 
	 box-shadow: 0 5px 15px rgba(0,0,0,.5);   
}
.profile .show_info h4{
	 width:100%;
	 border-bottom:1px solid #444;
	 margin-bottom: 1em;  
}

.tabcontent {
  display: none;
}
.show_defualt{
     display: block;
}
#contact ,.activement{
    
     padding:1em;
     line-height:2em;   
      margin:auto;
          margin-top:2em; 
}
#contact{
  width: 50%;  
       background:#fff; 
     box-shadow: 0 5px 15px rgba(0,0,0,.5); 
          border-radius:10px; 
          margin:auto;
          margin-top:2em;  


}
.activement{
     width:100%; 
}
.activement div{
    display: inline-block;
    background-color:#fff;
    border-radius:10px; 
    width:45%; 
      margin:auto;
    margin-left:2em;
    padding:1em;  
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    overflow-y: scroll;
    height:300px;  
    
    }

#contact h4 , .activement h4{
     text-align: center;
     border-bottom:1px solid #444;
     margin-bottom: 1em; 
     font-size:1.5em; 
}
.activement p{
     text-align: center;
}
#contact ul li{
     display: block;
}
#contact ul li span{
     font-weight: bolder;
}
.film{
     width:100%;      
}
.film .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 margin-left:0.5em; 
     display:inline-block;

}

.film .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.film .container {
  background:#fff; 
  font-size:1.5em;
  padding:0.5em;
  text-align: center; 

}
.film .card img{
     max-width:100%; 
}

.id{
   width:67%;
   margin:auto;
  margin-top: 2em;  
}


 .id .top  {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #FF3434;
  margin-bottom: 30px;
}
.id .main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80EDFF;
}
.id .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);

}
 

.id h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
}
.id p {
  font-weight: 300;
  line-height: 18px;
  margin: 0 0 30px 0;
}

.id .imag {
  height: 300px;
  width: 60%;
  background: url("../images/aLQfseZy0WjgyMT.jpg");
  background-position: center;
  background-size: cover;
}
.id .text-container {
  margin: 60px 45px 55px;
}
@media screen and (min-width: 768px) {
  .id .container {
    flex-direction: row;
    width: 100%;
  }
.id .imag {
    height: 440px;
    min-width: 360px;
  }
 .id .text-container {
    margin: 0 25px;
    max-width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .id .container {
    width: 100%;
    padding-right:0.5em; 
  }
  .imag{
   margin-left: -35px;
  }
}

@media only screen and (max-width: 600px) {
   .social_main{
          display: none;

   }
   .profile .info .info_selector{
    padding:0; 
     padding-left:0.5em; 
     margin-top:5em; 
   }
   #contact{
     width:80%; 
   }
   .film .card {
     margin-bottom:1em;
     margin-top:1em;
   }
   .film  {
    text-align: center;
   }
 
}
@media only screen and (max-width: 800px) {
   .id{
   width:100%;  
  padding:2em; 

   }
   .id .imag{
     width:100%;
   }  
   .activement div{
     width:100%;
     margin-left:0;  
   }
  .profile .show_info {
     width:90%; 
  }
}
